langgraph
langchain
ipython
langchain_openai
langchain_community
dotenv
typing
chromadb
langchain_chroma
langchain[google-genai]
uvicorn
streamlit
fastapi
transformers
requests
numpy
pandas
sentence-transformers
langchain-huggingface
pypdf